
@{
    ViewBag.Title = "Yeniogretmen";
    Layout = "~/Views/Shared/mainlayout.cshtml";
}

<form>
    <div>
        <label>Öğretmen Adı</label>
        <input type="text" class="form-control" name="ogrenciadi" />
    </div>
    <div>
        <label>Öğretmen Soyadı</label>
        <input type="text" class="form-control" name="ogrencisoyadi" />
    </div>
    <div>
        <label>Emekli</label>
        <input type="text" class="form-control" name="bolumid" />
    </div>
    <div style="margin-top:15px">
        <button class="btn btn-info">Öğretmen Ekle</button>
    </div>
</form>

