
@{
    ViewBag.Title = "Yeniogrenci";
    Layout = "~/Views/Shared/mainlayout.cshtml";
}

<form>
    <div>
        <label>Öğrenci Adı</label>
        <input type="text" class="form-control" name="ogrenciadi" />
    </div>
    <div>
        <label>Öğrenci Soyadı</label>
        <input type="text" class="form-control" name="ogrencisoyadi" />
    </div>
    <div>
        <label>Bölüm</label>
        <input type="text" class="form-control" name="bolumid" />
    </div><div>
        <label>Aldığı Kredi</label>
        <input type="text" class="form-control" name="kredi" />
    </div>
    <div style="margin-top:15px">
        <button class="btn btn-info">Öğrenci Ekle</button>
    </div>

</form>

